.main {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 48%;
	margin-top: 0;
	transform: translate(-50%, -50%);
	padding: 30px;
}
.nickname:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
h3 {
	text-align: center;
}
p {
	margin: 5px 0 5px 0;
}
.big-btn, .small-btn {
	font-weight: bold;
}
.btn-inline {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.small-btn {
	width: 45%;
}

@media (max-width: 500px) {
	.main {
		width: 85%;
	}
}