.main {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 48%;
	margin-top: 0;
	transform: translate(-50%, -50%);
	padding: 20px 30px 30px 30px;
}
.name {
    text-align: center;
}
.password:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-submit {
	font-weight: bold;
}

@media (max-width: 500px) {
	.main {
		width: 85%;
	}
}