<nav class="navbar navbar-expand-lg bg-light navbar-light">
	<div class="container-fluid container">
		<a href="/" class="navbar-brand">Quiz Game</a>
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="me-auto"></div>
			<div class="navbar-nav d-flex flex-row me-1">
			<a href="/make" class="btn btn-secondary rounded nav-btn">Make a quiz</a>
		</div>
		<form class="input-group nav-input-group" action="/">
			<input type="search" class="form-control" name="quiz" placeholder="Search quizzes" spellcheck="false" autocomplete="off" required>
			<button class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
		</form>
	</div>
</nav>
