<html>
	<head>
		{% include "configuration.html" %}
		<link rel="stylesheet" href="../static/css/password.css">
	</head>
	<body>
		{% include "navbar.html" %}
		<form class="main bg-{{quiz.color}} rounded border border-dark shadow" action="/{{action}}/{{quiz.name}}" method="post">
            <h3 class="text-white name mb-3">{{quiz.name.replace("_", " ")}}</h3>
            <input type="password" class="form-control mb-3 password border border-dark" name="passwordToContinue" placeholder="Enter password" maxlength="30">
            <button class="btn btn-block text-white btn-submit">Submit</button>
		</form>
	</body>
</html>